mat-toolbar{
  height: 70px;
  font-size: 2.5em;
  padding-left:25px;
  display:flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  height: 24px;
  display:flex;
  align-items: center;
}
