<h1>Pending FWA Requests</h1>
<mat-accordion mult="true" *ngIf="fwaList.length>0">
  <mat-expansion-panel *ngFor="let fwa of fwaList">
    <!--{{fwa | json}}-->
    <mat-expansion-panel-header>
      {{fwa.id}}
    </mat-expansion-panel-header>
    <p>Request Date: {{getDateStr(fwa.requestDate)}}</p>
    <p>Description: {{fwa.description}}</p>
    <p>Reasoning: {{fwa.reason}}</p>
    <p>{{fwa.workType}}</p>
    <form  #fwaForm = "ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Comment</mat-label>
      <input
      matInput
      type="text"
      name="comment"
      ngModel
      minlength="3"
      #comment="ngModel">
      <mat-error *ngIf="comment.invalid">Please enter a valid comment</mat-error>
    </mat-form-field>
    <div class="btn-container">
    <button mat-raised-button color="accent" (click)="onFWASubmit(fwa.id, 'accept', fwaForm)">Approve</button>
    <button mat-raised-button color="warn" (click)="onFWASubmit(fwa.id, 'reject', fwaForm)">Reject</button>
  </div>
  </form>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body 1" *ngIf="fwaList.length==0">No new requests yet</p>
