<h1>Update daily schedule</h1>
<mat-card>
    <form>
        <mat-form-field>
            <mat-label>Select date</mat-label>
            <input matInput [matDatepicker]="basicDatePicker" required>
            <mat-datepicker-toggle [for]="basicDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #basicDatePicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Working hours available</mat-label>
            <mat-select placeholder="Select hours" required>
                <mat-option value="1">8AM - 4PM</mat-option>
                <mat-option value="2">9AM - 5PM</mat-option>
                <mat-option value="3">10AM - 6PM</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Work location</mat-label>
            <input
            matInput
            type="text"
            required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Work report</mat-label>
            <input
            matInput
            type="text"
            required>
        </mat-form-field>
        <br>
        <div class="button-container">
            <button mat-raised-button color="accent" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="reset">Cancel</button>
        </div>
    </form>
</mat-card>

