<h1>Update daily schedule</h1>
<mat-card>
    <form>
        <mat-form-field>
            <mat-label>Select date</mat-label>
            <input matInput [matDatepicker]="basicDatePicker">
            <mat-datepicker-toggle [for]="basicDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #basicDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Working hours</mat-label>
          <input matInput>
      </mat-form-field>
    </form>
</mat-card>
<br>
